.alert {
  background-color: #05386b;
  text-align: center;
  color: #edf5e1;
  margin: 1rem;
  border-color: #379683;
  font-family: "Farro-Regular";
  box-shadow: -10px 10px 0px 0px #379683;
  -webkit-box-shadow: -10px 10px 0px 0px #379683;
  -moz-box-shadow: -10px 10px 0px 0px #379683;
}
